@import '../const.scss';

.sort-by-rating-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 14px;
  height: 38px;
  border-radius: 19px;
  border-color: transparent;
  background-color: transparent;
  box-shadow: 0 1px 5px $colorShadow024;
  box-shadow: 0 4px 3px $colorShadow018;
  box-shadow: 0 4px 2px $colorShadow020;
  width: 150px;
  color: $colorGreyBlack40;
  line-height: $lineHeightS;

  @media screen and (max-width: 600px) {
    justify-content: center;
    gap:0;
    width: 32px;
    height: 32px;
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }
}

.sort-by-rating-button__hidden {
  display: none;
}
