@import '../const.scss';

.modal-message-container {
  background: $colorMainWhite;
  border-radius: 16px;
  align-self: center;
  @media screen and (max-width: 320px) {
    gap: 24px;
  }
}

.modal-message-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 320px) {
    gap: 24px;
  }
}

.modal-button_link {
  margin-top: 0px;
}
