@import '../const.scss';

.modal-button {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 52px;
  background: $colorButtonHover;
  border-radius: 30px;
  border: none;
  margin-top: 32px;
  padding: 16px;
  font-weight: $fontWeightSemiBold;
  font-size: $fontSizeXM1;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: $colorMainWhite;

  &:disabled{
    background: $colorGreyBlack10;
  }

  @media screen and (max-width: 420px) {
    padding: 11px;
    font-size: $fontSizeS;
    line-height: $lineHeightS;
  }

}
